.winners-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #F9F8F5;
}

.featured-paragraph-row {
  margin-bottom: 3rem;
}
.featured-paragraph-row .winner {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  overflow: hidden;
  justify-content: space-between;
}
.featured-paragraph-row .winner .wall-of-fame-image-container {
  flex: 0 0 55%;
}
.featured-paragraph-row .winner .wall-of-fame-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-paragraph-row .winner .wall-of-fame-content {
  flex: 0 0 35%;
  padding: 2rem 0;
}

.standard-paragraphs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.standard-paragraphs-grid .winner .wall-of-fame-image-container {
  width: 100%;
  aspect-ratio: 16/9;
}
.standard-paragraphs-grid .winner .wall-of-fame-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.standard-paragraphs-grid .winner .wall-of-fame-content {
  padding: 1.5rem;
  position: relative;
  margin-top: -85px;
  z-index: 7;
  background: white;
  width: 70%;
  margin-left: auto; /* Pushes it to the right */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  .featured-paragraph-row .winner {
    flex-direction: column;
  }
  .featured-paragraph-row .winner .wall-of-fame-image-container,
  .featured-paragraph-row .winner .wall-of-fame-content {
    flex: 0 0 100%;
  }
  .standard-paragraphs-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}